
Part1
1. Import the dataset and create data frames directly on import.

In [2]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 60kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 23.6MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=2be441034cd53f25c49f8f6b32d5bdb1218020ae138a8325740248b2029e0a70
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [3]:
import csv
from pyspark.sql import SparkSession
import pyspark.sql.functions as filter
Spark = SparkSession \
    .builder \
    .appName("Spark project") \
    .getOrCreate()
#part1 question 1
df = Spark.read.csv(r"/content/weather_features.csv",header=True)
df.createOrReplaceTempView("Weather")

In [4]:
import csv
from pyspark.sql import SparkSession
import pyspark.sql.functions as filter
Spark = SparkSession \
    .builder \
    .appName("Spark project") \
    .getOrCreate()
#part1 question 1
df = Spark.read.csv(r"/content/energy_dataset.csv",header=True)
df.createOrReplaceTempView("Energy")

In [8]:
Spark.sql("select * from Weather where city_name = 'Madrid' or weather_main = 'clouds'").createTempView("madrid")

In [32]:
Spark.sql("select dt_iso,city_name,temp_max,temp_min from Weather where city_name = 'Madrid' ORDER BY temp_max desc").show()

+-------------------+---------+--------+--------+
|             dt_iso|city_name|temp_max|temp_min|
+-------------------+---------+--------+--------+
|2016-09-06 14:00:00|   Madrid|  316.48|  307.04|
|2016-09-06 15:00:00|   Madrid|  316.48|  308.15|
|2016-09-07 15:00:00|   Madrid|  315.37|  309.05|
|2017-07-13 18:00:00|   Madrid|  315.15|  310.15|
|2016-09-06 13:00:00|   Madrid|  314.82|  303.71|
|2016-09-07 14:00:00|   Madrid|  314.82|  307.04|
|2015-07-07 12:00:00|   Madrid|  314.75|  305.15|
|2015-06-28 12:00:00|   Madrid|  314.65|  304.15|
|2015-07-08 12:00:00|   Madrid|  314.55|  305.15|
|2015-07-07 11:00:00|   Madrid|  314.25|  303.15|
|2015-07-14 12:00:00|   Madrid|  314.25|  303.71|
|2015-07-06 19:00:00|   Madrid|  314.15|  310.75|
|2015-07-06 20:00:00|   Madrid|  314.15|  309.75|
|2017-07-14 18:00:00|   Madrid|  314.15|  310.15|
|2017-07-13 20:00:00|   Madrid|  314.15|  310.15|
|2017-07-13 17:00:00|   Madrid|  314.15|  310.15|
|2017-07-14 19:00:00|   Madrid|  314.15|  310.15|
|2018-08-03 18:00:00|   Madrid|  314.15|  310.15|
|2017-07-13 19:00:00|   Madrid|  314.15|  310.15|
|2018-08-03 17:00:00|   Madrid|  314.15|  310.15|
+-------------------+---------+--------+--------+
only showing top 20 rows

In [13]:
Spark.sql("select * from Weather where city_name = 'Barcelona' or weather_main = 'clouds'").createTempView("barcelonatable")

In [16]:
Spark.sql("select generation_hydro_water_reservoir,price_actual from Energy ORDER BY generation_hydro_water_reservoir desc").show()

+--------------------------------+------------+
|generation_hydro_water_reservoir|price_actual|
+--------------------------------+------------+
|                           999.0|       46.29|
|                           999.0|       42.88|
|                           999.0|       44.59|
|                           999.0|       76.86|
|                           999.0|       66.82|
|                           999.0|       51.29|
|                           999.0|       54.81|
|                           999.0|       60.24|
|                           999.0|       61.96|
|                           999.0|       59.07|
|                           999.0|       45.42|
|                           999.0|       58.44|
|                           999.0|       79.33|
|                           999.0|       59.43|
|                           999.0|       69.58|
|                           999.0|       73.05|
|                           999.0|       53.18|
|                           999.0|       75.81|
|                           998.0|       75.95|
|                           998.0|       52.66|
+--------------------------------+------------+
only showing top 20 rows

In [20]:

Spark.sql("select * from madrid union select * from barcelonatable order by temp").show(50)

+-------------------+----------+--------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|             dt_iso| city_name|    temp|temp_min|temp_max|pressure|humidity|wind_speed|wind_deg|rain_1h|rain_3h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+-------------------+----------+--------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|2015-02-23 10:00:00| Barcelona|  262.24|  262.24|  262.24|    1007|       0|         3|     335|    0.0|    0.0|    0.0|        24|       801|      clouds|         few clouds|         02d|
|2015-02-08 06:00:00|    Madrid| 264.132| 264.132| 264.132|     961|      80|         1|       8|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 05:00:00|    Madrid| 264.428| 264.428| 264.428|     965|      64|         1|     348|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 06:00:00|    Madrid| 264.428| 264.428| 264.428|     965|      64|         1|     348|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-07 02:00:00|    Madrid| 265.091| 265.091| 265.091|     954|      73|         1|     295|    0.0|    0.0|    0.0|        32|       802|      clouds|   scattered clouds|         03n|
|2015-02-07 03:00:00|    Madrid| 265.091| 265.091| 265.091|     954|      73|         1|     295|    0.0|    0.0|    0.0|        32|       802|      clouds|   scattered clouds|         03n|
|2015-01-24 04:00:00|    Madrid| 265.261| 265.261| 265.261|     964|      69|         1|     276|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 02:00:00|    Madrid| 265.261| 265.261| 265.261|     964|      69|         1|     276|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 03:00:00|    Madrid| 265.261| 265.261| 265.261|     964|      69|         1|     276|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-01-01 05:00:00|    Madrid| 265.442| 265.442| 265.442|     972|      64|         0|     240|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-01 06:00:00|    Madrid| 265.442| 265.442| 265.442|     972|      64|         0|     240|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-01 07:00:00|    Madrid| 265.442| 265.442| 265.442|     972|      64|         0|     240|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-08 05:00:00|    Madrid|265.6245|265.6245|265.6245|     993|      87|         2|      15|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-02-07 04:00:00|    Madrid| 265.638| 265.638| 265.638|     954|      75|         1|     277|    0.0|    0.0|    0.0|         8|       800|       clear|       sky is clear|         02n|
|2015-01-02 05:00:00|    Madrid| 265.902| 265.902| 265.902|     975|      62|         1|      13|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 07:00:00|    Madrid| 265.902| 265.902| 265.902|     975|      62|         1|      13|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 06:00:00|    Madrid| 265.902| 265.902| 265.902|     975|      62|         1|      13|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 01:00:00|    Madrid|266.0235|266.0235|266.0235|     964|      69|         1|     138|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-01-26 05:00:00|    Madrid| 266.024| 266.024| 266.024|     967|      69|         1|      31|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-26 07:00:00|    Madrid| 266.024| 266.024| 266.024|     967|      69|         1|      31|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-26 06:00:00|    Madrid| 266.024| 266.024| 266.024|     967|      69|         1|      31|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 07:00:00|    Madrid|266.1065|266.1065|266.1065|     966|      68|         1|     177|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-02-07 06:00:00|    Madrid| 266.149| 266.149| 266.149|     954|      76|         1|     260|    0.0|    0.0|    0.0|        56|       803|      clouds|      broken clouds|         04n|
|2015-02-07 05:00:00|    Madrid| 266.149| 266.149| 266.149|     954|      76|         1|     260|    0.0|    0.0|    0.0|        56|       803|      clouds|      broken clouds|         04n|
|2015-02-07 07:00:00|    Madrid| 266.149| 266.149| 266.149|     954|      76|         1|     260|    0.0|    0.0|    0.0|        56|       803|      clouds|      broken clouds|         04n|
|2015-01-01 03:00:00|    Madrid| 266.186| 266.186| 266.186|     971|      64|         1|     273|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-01 04:00:00|    Madrid| 266.186| 266.186| 266.186|     971|      64|         1|     273|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-01 02:00:00|    Madrid| 266.186| 266.186| 266.186|     971|      64|         1|     273|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 03:00:00|    Madrid| 266.389| 266.389| 266.389|     974|      64|         1|     314|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 02:00:00|    Madrid| 266.389| 266.389| 266.389|     974|      64|         1|     314|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 04:00:00|    Madrid| 266.389| 266.389| 266.389|     974|      64|         1|     314|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-08 02:00:00|    Madrid| 266.464| 266.464| 266.464|     961|      79|         2|      24|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-08 04:00:00|    Madrid| 266.464| 266.464| 266.464|     961|      79|         2|      24|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-26 03:00:00|    Madrid| 266.581| 266.581| 266.581|     967|      70|         1|      22|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-26 04:00:00|    Madrid| 266.581| 266.581| 266.581|     967|      70|         1|      22|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-26 02:00:00|    Madrid| 266.581| 266.581| 266.581|     967|      70|         1|      22|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-08 07:00:00|    Madrid| 266.594| 266.594| 266.594|     961|      79|         1|      18|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-01-08 07:00:00|    Madrid| 266.774| 266.774| 266.774|     973|      66|         1|      32|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-08 08:00:00|    Madrid| 266.774| 266.774| 266.774|     973|      66|         1|      32|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-08 06:00:00|    Madrid| 266.774| 266.774| 266.774|     973|      66|         1|      32|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-24 00:00:00|    Madrid| 266.786| 266.786| 266.786|     964|      69|         0|       1|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-08 03:00:00|    Madrid|266.7905|266.7905|266.7905|     993|      87|         2|      23|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|          01|
|2015-02-06 23:00:00|    Madrid| 267.067| 267.067| 267.067|     954|      79|         1|     330|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-07 00:00:00|    Madrid| 267.067| 267.067| 267.067|     954|      79|         1|     330|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-02-07 01:00:00|    Madrid| 267.067| 267.067| 267.067|     954|      79|         1|     330|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-03 07:00:00|    Madrid| 267.069| 267.069| 267.069|     976|      60|         0|     119|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-03 08:00:00|    Madrid| 267.069| 267.069| 267.069|     976|      60|         0|     119|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-03 06:00:00|    Madrid| 267.069| 267.069| 267.069|     976|      60|         0|     119|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-02 00:00:00|    Madrid| 267.129| 267.129| 267.129|     975|      64|         1|     254|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
|2015-01-01 23:00:00|    Madrid| 267.129| 267.129| 267.129|     975|      64|         1|     254|    0.0|    0.0|    0.0|         0|       800|       clear|       sky is clear|         01n|
+-------------------+----------+--------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 50 rows

In [23]:
Spark.sql("select city_name,temp,weather_main from Weather order by temp").show(50)

+----------+--------+------------+
| city_name|    temp|weather_main|
+----------+--------+------------+
| Barcelona|  262.24|      clouds|
|    Madrid| 264.132|       clear|
|    Madrid| 264.428|       clear|
|    Madrid| 264.428|       clear|
|    Madrid| 265.091|      clouds|
|    Madrid| 265.091|      clouds|
|    Madrid| 265.261|       clear|
|    Madrid| 265.261|       clear|
|    Madrid| 265.261|       clear|
|    Madrid| 265.442|       clear|
|    Madrid| 265.442|       clear|
|    Madrid| 265.442|       clear|
|    Madrid|265.6245|       clear|
|    Madrid| 265.638|       clear|
|    Madrid| 265.902|       clear|
|    Madrid| 265.902|       clear|
|    Madrid| 265.902|       clear|
|    Madrid|266.0235|       clear|
|    Madrid| 266.024|       clear|
|    Madrid| 266.024|       clear|
|    Madrid| 266.024|       clear|
|    Madrid|266.1065|       clear|
|    Madrid| 266.149|      clouds|
|    Madrid| 266.149|      clouds|
|    Madrid| 266.149|      clouds|
|    Madrid| 266.186|       clear|
|    Madrid| 266.186|       clear|
|    Madrid| 266.186|       clear|
|    Madrid| 266.389|       clear|
|    Madrid| 266.389|       clear|
|    Madrid| 266.389|       clear|
|    Madrid| 266.464|       clear|
|    Madrid| 266.464|       clear|
|    Madrid| 266.581|       clear|
|    Madrid| 266.581|       clear|
|    Madrid| 266.581|       clear|
|    Madrid| 266.594|       clear|
|    Madrid| 266.774|       clear|
|    Madrid| 266.774|       clear|
|    Madrid| 266.774|       clear|
|    Madrid| 266.786|       clear|
|    Madrid|266.7905|       clear|
|    Bilbao|  266.85|       clear|
|    Madrid| 267.067|       clear|
|    Madrid| 267.067|       clear|
|    Madrid| 267.067|       clear|
|    Madrid| 267.069|       clear|
|    Madrid| 267.069|       clear|
|    Madrid| 267.069|       clear|
|    Madrid| 267.129|       clear|
+----------+--------+------------+
only showing top 50 rows

In [13]:
Spark.sql("select * from Weather where weather_description = 'mist'").show()

+-------------------+---------+------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|             dt_iso|city_name|  temp|temp_min|temp_max|pressure|humidity|wind_speed|wind_deg|rain_1h|rain_3h|snow_3h|clouds_all|weather_id|weather_main|weather_description|weather_icon|
+-------------------+---------+------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
|2015-03-04 08:00:00| Valencia|287.19|  286.15|  288.05|    1024|      87|         1|       0|    0.0|    0.0|    0.0|        90|       701|        mist|               mist|         50d|
|2015-03-04 09:00:00| Valencia| 286.7|  285.15|  288.05|    1025|      93|         1|       0|    0.0|    0.0|    0.0|        90|       701|        mist|               mist|         50d|
|2015-03-04 10:00:00| Valencia|287.19|  286.15|  288.05|    1026|      87|         0|       0|    0.0|    0.0|    0.0|        90|       701|        mist|               mist|         50d|
|2015-03-04 11:00:00| Valencia| 288.1|  288.05|  288.15|    1026|      82|         0|     104|    0.0|    0.0|    0.0|        40|       701|        mist|               mist|         50d|
|2015-11-07 20:00:00| Valencia|292.15|  292.15|  292.15|    1028|      88|         0|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-07 22:00:00| Valencia|289.15|  289.15|  289.15|    1029|      93|         2|     320|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-08 02:00:00| Valencia|286.15|  286.15|  286.15|    1029|     100|         1|      54|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-08 04:00:00| Valencia|286.15|  286.15|  286.15|    1029|      93|         1|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-09 01:00:00| Valencia|287.15|  287.15|  287.15|    1031|      93|         1|       0|    0.0|    0.0|    0.0|        48|       701|        mist|               mist|         50n|
|2015-11-09 03:00:00| Valencia|285.15|  285.15|  285.15|    1031|     100|         1|     290|    0.0|    0.0|    0.0|         8|       701|        mist|               mist|         50n|
|2015-11-09 22:00:00| Valencia|287.15|  287.15|  287.15|    1032|      93|         0|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-10 00:00:00| Valencia|285.15|  285.15|  285.15|    1031|     100|         1|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-10 02:00:00| Valencia|284.15|  284.15|  284.15|    1031|      93|         1|     301|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-10 04:00:00| Valencia|283.15|  283.15|  283.15|    1030|     100|         1|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-11 22:00:00| Valencia|286.15|  286.15|  286.15|    1025|      93|         1|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-12 00:00:00| Valencia|285.15|  285.15|  285.15|    1025|      93|         1|       0|    0.0|    0.0|    0.0|         0|       701|        mist|               mist|         50n|
|2015-11-12 02:00:00| Valencia|284.15|  284.15|  284.15|    1025|      93|         0|       0|    0.0|    0.0|    0.0|        20|       701|        mist|               mist|         50n|
|2015-11-12 04:00:00| Valencia|285.15|  285.15|  285.15|    1025|      93|         1|       0|    0.0|    0.0|    0.0|        75|       701|        mist|               mist|         50n|
|2015-11-14 02:00:00| Valencia|286.15|  286.15|  286.15|    1032|      93|         1|     307|    0.0|    0.0|    0.0|        20|       701|        mist|               mist|         50n|
|2015-11-14 04:00:00| Valencia|285.15|  285.15|  285.15|    1032|      93|         1|     300|    0.0|    0.0|    0.0|        32|       701|        mist|               mist|         50n|
+-------------------+---------+------+--------+--------+--------+--------+----------+--------+-------+-------+-------+----------+----------+------------+-------------------+------------+
only showing top 20 rows

In [25]:
Spark.sql("select avg(temp) from Weather").show()

+-------------------------+
|avg(CAST(temp AS DOUBLE))|
+-------------------------+
|        289.6186050165249|
+-------------------------+

In [17]:
Spark.sql("select max(pressure) from Weather").show()

+-------------+
|max(pressure)|
+-------------+
|        99915|
+-------------+

In [26]:
Spark.sql("select forecast_solar_day_ahead,price_day_ahead from Energy ORDER by price_day_ahead").show()

+------------------------+---------------+
|forecast_solar_day_ahead|price_day_ahead|
+------------------------+---------------+
|                     5.0|           10.0|
|                  4632.0|           10.0|
|                   577.0|           10.0|
|                     0.0|           10.0|
|                     5.0|           10.0|
|                     1.0|           10.0|
|                   241.0|           10.0|
|                     0.0|           10.0|
|                  4507.0|           10.0|
|                  4947.0|           10.0|
|                   527.0|           10.0|
|                    72.0|           10.0|
|                     0.0|           10.0|
|                     2.0|           10.0|
|                   127.0|           10.0|
|                     5.0|           10.0|
|                  3451.0|           10.0|
|                  3452.0|           10.0|
|                  2070.0|           10.0|
|                     2.0|           10.0|
+------------------------+---------------+
only showing top 20 rows

In [27]:
Spark.sql("select distinct(city_name),temp_max,weather_main from weather where weather_main = 'clouds'").show(100)

+----------+-----------------+------------+
| city_name|         temp_max|weather_main|
+----------+-----------------+------------+
|  Valencia|           290.55|      clouds|
|  Valencia|          285.915|      clouds|
|  Valencia|          289.036|      clouds|
|  Valencia|     289.13434375|      clouds|
|  Valencia|           291.54|      clouds|
|  Valencia|         290.2775|      clouds|
|  Valencia|      291.3213125|      clouds|
|  Valencia|          294.844|      clouds|
|  Valencia|           295.84|      clouds|
|  Valencia|         284.8215|      clouds|
|  Valencia|          276.245|      clouds|
|  Valencia|          278.185|      clouds|
|  Valencia|         292.9595|      clouds|
|  Valencia|           298.25|      clouds|
|  Valencia|          292.765|      clouds|
|    Madrid|      286.5243125|      clouds|
|    Madrid|         293.4075|      clouds|
|    Madrid|          288.435|      clouds|
|    Madrid|           289.25|      clouds|
|    Bilbao|     280.15534375|      clouds|
|    Bilbao|     272.83565625|      clouds|
|    Bilbao|      285.0163125|      clouds|
|    Bilbao|           274.05|      clouds|
|    Bilbao|         286.9325|      clouds|
|    Bilbao|     278.88834375|      clouds|
|    Bilbao|     293.80465625|      clouds|
|    Bilbao|     292.38034375|      clouds|
|    Bilbao|     294.47465625|      clouds|
|    Bilbao|         288.6875|      clouds|
|    Bilbao|          286.765|      clouds|
|    Bilbao|          286.075|      clouds|
|    Bilbao|           280.26|      clouds|
|    Bilbao|           278.04|      clouds|
|    Bilbao|         283.8295|      clouds|
|    Bilbao|           284.43|      clouds|
|    Bilbao|          282.847|      clouds|
| Barcelona|           286.16|      clouds|
| Barcelona|           283.91|      clouds|
| Barcelona|     283.62634375|      clouds|
| Barcelona|         286.9325|      clouds|
| Barcelona|           289.76|      clouds|
| Barcelona|          292.081|      clouds|
| Barcelona|          291.776|      clouds|
| Barcelona|         287.4185|      clouds|
| Barcelona|         287.1785|      clouds|
| Barcelona|288.9120000000001|      clouds|
|   Seville|          279.373|      clouds|
|   Seville|          288.593|      clouds|
|   Seville|     286.19465625|      clouds|
|   Seville|         286.3275|      clouds|
|   Seville|289.7920000000001|      clouds|
|   Seville|          292.117|      clouds|
|   Seville|          292.701|      clouds|
|   Seville|          292.777|      clouds|
|   Seville|            294.2|      clouds|
|  Valencia|287.9290000000001|      clouds|
|  Valencia|         286.3345|      clouds|
|  Valencia|289.8640000000001|      clouds|
|  Valencia|           296.35|      clouds|
|  Valencia|           293.65|      clouds|
|  Valencia|          282.779|      clouds|
|  Valencia|           289.75|      clouds|
|  Valencia|         284.6785|      clouds|
|  Valencia|           286.57|      clouds|
|  Valencia|           288.74|      clouds|
|  Valencia|          282.765|      clouds|
|  Valencia|     290.48334375|      clouds|
|    Madrid|          285.587|      clouds|
|    Madrid|          285.332|      clouds|
|    Madrid|         282.4175|      clouds|
|    Madrid|          290.445|      clouds|
|    Madrid|          285.579|      clouds|
|    Madrid|          297.398|      clouds|
|    Madrid|           293.45|      clouds|
|    Madrid|           275.25|      clouds|
|    Bilbao|     284.85334375|      clouds|
|    Bilbao|     277.77565625|      clouds|
|    Bilbao|     276.66934375|      clouds|
|    Bilbao|     291.17734375|      clouds|
|    Bilbao|          293.783|      clouds|
|    Bilbao|          286.702|      clouds|
|    Bilbao|           294.43|      clouds|
|    Bilbao|           286.34|      clouds|
|    Bilbao|           280.19|      clouds|
|    Bilbao|          281.283|      clouds|
|    Bilbao|          280.945|      clouds|
|    Bilbao|          278.475|      clouds|
|    Bilbao|          279.621|      clouds|
|    Bilbao|          286.297|      clouds|
| Barcelona|           285.06|      clouds|
| Barcelona|      288.9123125|      clouds|
| Barcelona|          289.038|      clouds|
| Barcelona|         285.6935|      clouds|
| Barcelona|         285.4795|      clouds|
| Barcelona|          286.921|      clouds|
| Barcelona|           286.04|      clouds|
| Barcelona|          282.645|      clouds|
|   Seville|         288.5375|      clouds|
|   Seville|          309.068|      clouds|
|   Seville|          294.831|      clouds|
+----------+-----------------+------------+
only showing top 100 rows